* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: #f0f6fc;
    color: #FBAC29;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 32px;
    height: 32px;
}

.logo h2 {
    margin-left: 8px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #222222;
} 

a:hover {
    color: #FBAC29;
    text-decoration: underline;
}

nav button {
    background-color: #FBAC29;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

nav button:hover {
    background-color: #ff9e44;
    color: #222222;
    font-weight: 500;
}

.hero-section {
    background-image: linear-gradient(rgba(17, 1, 1, 0.738)), url(./src/assets/Dog-woman.jpg);
    background-size: cover;
    background-position: center;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f0f6fc;
    gap: 20px;
}

section h2 {
    font-size: 48px;
    max-width: 600px;
    text-align: center;
    line-height: 120%;
    margin-top: 72px;
    font-weight: 600; 
}

section p {
    font-size: 18px;
    max-width: 600px;
    color: aliceblue;
    text-align: center;
    line-height: 150%;
}

section button {
    background-color: #FBAC29;
    padding: 16px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
}

section button:hover {
    background-color: #ff9e44;
    color: #222222;
}

.pet-section {
    background-color: bisque;
    padding: 16px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pets {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.pet-item {
    background-color: aliceblue;
    color: #222222;
    padding: 16px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    border-radius: 8px;
    margin-top: 24px;
}

.pet-section p {
    color: #222222;
}

.pet-item img {
    min-width: 200px;
    min-height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.pet-item h2 {
    font-size: 24px;
    text-align: start;
}

.pet-item p {
    font-size: 16px;
    text-align: start;
}

.pet-item button {
    background-color: #FBAC29;
    padding: 16px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    width: 100%;
}
.separated-content {
    flex-direction: column;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.separated-content h2 {
    margin-top: 8px;
}